<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @userReceipt.email %></h1>
    <p>
      	<%=@userOwner.email%> just share a document to you.
    </p>
    <p>
    	<h3>Please check you profile to view document</h3>
    </p>
  </body>
</html>