<nav class="navbar sticky-top navbar-dark bg-dark ">   
  <div class="navbar-nav ">
  	<div class="d-inline-flex ">
  		
  		<span data-toggle="modal" data-target="#newFolderModal">
  			<%= link_to "New Folder",new_home_path,class: "btn btn-info btn-sm mr-2"%>
  		</span>
  		<%= link_to "New Document",new_home_path,class: "btn btn-success btn-sm mr-2"%> 
  	</div>
  	
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>hello</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>