

<%if user_signed_in?%>
	<h3>All Documents</h3>
	<%=render "shared/folder_document"%>
<%else%>
	<div class="col-12 text-center p-5">
		<h3>Please signed in to create document or view your documents</h3>
		
	</div>
<%end%>




