

<div class="row text-center justify-content-center">
	<div class="col-12"><h3>Create new document</h3></div>
	<div class="col-10 ">
	
		<%=form_tag({contoller:"home",action:"createdocumentwithfolder",method: :post},multipart: true ) do%>
			<div class="row">
				<div class=" p-1 mr-5 ml-5">
					<input type="text" id="document_name" name="document_name" placeholder="Enter file name" class="form-control" required><span id="name_error" class="ml-1" style="color: red;"></span>
				</div>
				<div class="row p-1 ml-5 pl-5">
					<div class="col-8">
<!-- 						<input type="file" name="document_file[]" multiple/>
 -->
						<input type="file" name="document_file[]" multiple webkitdirectory mozdirectory/>
						<input type="hidden" id="parent_folder_id" name="parent_folder_id" value=<%=params[:parent_folder_id]%> >
					</div>
					<div class="col-4">
						<%=submit_tag "Upload File",class: "btn btn-success"%>
						
					</div>
				</div>
				
			</div>
		<%end%>
		
		
	</div>
	<div class="col-9">
	  	<textarea name="editor_content" id="userEditor" autofocus></textarea>
	  	
	  
			<div class="form-group m-3" id="">
				<div class="row">
					
					<span id="document" class="btn btn-info ml-2" onclick="saveDocument()">create new document</span>
				</div>
			</div>
	  
	</div>
</div>




